<nav class="navbar navbar-expand-md sticky-top" style="background-color: #e3f2fd;">
  <a class="navbar-brand" routerLink="/">Recipe Book</a>
  <button 
    class="navbar-toggler" 
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse ml-2">
    <ul class="nav nav-pills">
      <!-- <li><a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a></li>
      <li><a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a></li> -->
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/recipes">Recipes</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a></li>
    </ul>
    <ul class="nav ml-auto text-primary">
      <li ngbDropdown class="dropdown" appDropdown>
        <a 
          ngbDropdownToggle class="dropdown-toggle"
          role="button"
          style="cursor: pointer;">
          Manage
          <span class="caret"></span>
        </a>
        <div ngbDropdownMenu  class="dropdown-menu">
          <a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>