<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <button 
    class="navbar-toggler" 
    type="button"
    data-toggle="collapse" 
    data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse">
    <ul class="nav">
      <li><a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a></li>
      <li><a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
    </ul>
    <ul class="nav ml-auto">
      <li ngbDropdown class="dropdown" appDropdown>
        <a 
          ngbDropdownToggle class="dropdown-toggle" 
          href="#" role="button"
          style="text-decoration: none;">
          Manage
          <span class="caret"></span>
        </a>
        <div ngbDropdownMenu  class="dropdown-menu">
          <a class="dropdown-item" href="#">Save Data</a>
          <a class="dropdown-item" href="#">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>