<div class="col-xs-12">
  <img src="" alt="" class="img-fluid">
</div>
<div class="col-xs-12">
  <h1>Recipe Name</h1>
</div>
<div class="col-xs-12">
  <div class="btn-group">
    <button type="button" 
      class="btn btn-primary dropdown-toggle">
      Manage Recipe <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Add to Shopping List</a>
      <a class="dropdown-item" href="#">Edit Recipe</a>
      <a class="dropdown-item" href="#">Delete Recipe</a>
    </div>
  </div>
</div>
<div class="col-xs-12">
  Description
</div>
<div class="col-xs-12">
  Ingredients
</div>