<nav class="navbar navbar-expand-md sticky-top" style="background-color: #e3f2fd;">
  <a class="navbar-brand" routerLink="/">Recipe Book</a>
  <button 
    class="navbar-toggler" 
    type="button"
    data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse ml-2">
    <ul class="nav nav-pills">
      <!-- <li><a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a></li>
      <li><a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a></li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
      </li>
    </ul>
    <ul class="nav nav-pills ml-auto text-primary">
      <!-- Using property binding on the ngIf to wrap multiple -->
      <ng-template [ngIf]="!isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin" routerLinkActive="active">Login</a>
        </li>
      </ng-template>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link" style="cursor: pointer;"(click)="onLogout()">Logout</a>
      </li>
      <li ngbDropdown class="dropdown" appDropdown *ngIf="isAuthenticated()">
        <a 
          ngbDropdownToggle class="dropdown-toggle"
          role="button"
          style="cursor: pointer;"
          class="nav-link">
          Manage
          <span class="caret"></span>
        </a>
        <div ngbDropdownMenu  class="dropdown-menu">
          <a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>